<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frhanklindevs.bantukuy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BantuKuy">
        <activity
            android:name="com.frhanklindevs.bantukuy.donor.ui.detail.DetailSearchActivity"
            android:exported="true" />
        <activity
            android:name="com.frhanklindevs.bantukuy.donor.ui.home.DonorHomeActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.launch.RegisterActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".ui.launch.LoginActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.launch.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>